body
{
    font-family:arial;
}
h2{
	margin-left:10px;
}
div{
	display:inline;
}
ul{
	display:table;
}
li{
	float:left;
	clear:both;
	cursor:pointer;
	padding-bottom:10px;
}
li div{
	margin-right:10px;
}
li:hover{
	text-decoration:underline;
}
input{
	margin:5px;
}
#create_folder_div{
	margin-left:10px;
}